name: "Terraform CI/CD"

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: self-hosted 
    env:
      TF_VAR_PROXMOX_NODE: mercury.proxmox.home.arpa
      TF_VAR_PROXMOX_API_USER: root@pam
      TF_VAR_PROXMOX_API_TOKEN_ID: terraform-token
      TF_VAR_PROXMOX_API_TOKEN_SECRET: ${{ secrets.PROXMOX_API_TOKEN_SECRET }}
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.4 

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false

      - name: Terraform Fmt & Validate
        working-directory: ./terraform
        run: terraform fmt -check && terraform validate

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -input=false -auto-approve

      - name: VM IP Output
        working-directory: ./scripts
        run: python3 get_vm_ips.py
