name: "Terraform CI/CD"

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: self-hosted 
    env:
      TF_VAR_proxmox_node: mercury.proxmox.home.arpa
      TF_VAR_proxmox_api_user: root@pam
      TF_VAR_proxmox_api_token_id: terraform-token
      TF_VAR_proxmox_api_token_secret: ${{ secrets.PROXMOX_API_TOKEN_SECRET }}
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.13.4 

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false

      - name: Terraform Fmt & Validate
        working-directory: ./terraform
        run: terraform fmt --recursive -check && terraform validate

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -input=false -auto-approve

      - name: Install dependencies
        working-directory: ./scripts
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements.txt

      - name: VM IP Output
        working-directory: ./scripts
        run: python3 get_vm_ips.py
